@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');

#root {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: center;
}


h3{
  margin-top: 0px;
  color: rgba(255, 255, 255, 0.87);
}

body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  
}

a{
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
}

h1{
  margin: 0;
}

p{
  color: rgba(255, 255, 255, 0.87);
}

.menuContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* border: 1px solid white; */
}

.menuItemImage{
  display: block;
  background-color: grey;
  width: clamp(300px, 28vw, 500px);
  height: clamp(300px, 28vw, 500px);
  border-radius: 5px;
  object-fit: cover;
}

.menuItemName{
  width: 350px;
}

.menuCard{
  display: flex;
  flex-direction: column;
  place-items: center;
}

.menuButtonsContainer{
  display: flex;
  width: 100%;
  justify-content: center;
  color: white;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.menuButton{
  border: 2px solid rgb(255 255, 255);
  border-radius: 15px;
  background-color: transparent;
  padding: 10px;
  color: white !important;
  font-size: 12px;
  font-weight: bold;
}

.menuButton:hover{
  opacity: 60% !important;
}

/* .navBar{
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: absolute;
  z-index: 2;
  margin-top: 30px;
} */


.navBarButton{
  display: block;
  background-color: transparent;
  height: 30px;
  color: rgba(255, 255, 255, 0.87);
  font-size: 30px;
  margin: 25px;
}

.navBarButton:hover{
  opacity: 70%; 
}

.bannerImageContainer{
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;
  /* box-sizing:border-box;
  padding: 30px; */
}

.bannerImage{
  width: 100%;
  height: 102vh;
  display: flex;
  object-fit: cover;
  filter: grayscale(1)  brightness(0.5);
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.bannerTextContainer{
  position: absolute;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.bannerText{
  color: white;
}

.arrowContainer{
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: end;
  margin-top: 90px;
}

.arrow{
  scale: 0.2;
  opacity: 0.4;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}



@keyframes bounce{
  0%{
    
  }
  50%{
    transform: translate(0, 30px)
  }
  100%{

  }
}

@keyframes fadeIn{
  0%{
    opacity: 0%;
  }
  50%{
    opacity: 0%;
  }
  100%{
    opacity: 100%; 
  }
}

.bodyContainer{
  display: flex;
  margin-top: 35px;
}

.aboutImage{
  width: 70%;
  height: 400px;
  border-radius: 20px;
  filter: brightness(1.6);
  object-fit: cover;
}

.aboutContainer{
  display: flex;
  flex-direction: column;
  place-items: center;
  height: fit-content
}

.mainLogoImage{
  margin-bottom: 20px;
  margin-right: 15px;
}

.aboutText{
  width: 70%;
  margin-bottom: 50px;
  font-weight: 630;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.87);
}

.sideBar{
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  
  width: 100%;
  height: fit-content;
}

.footerContainer{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}


.footerSection{
  width: 20%;
  text-align: center;
}

.socialMediaIcon{
  height: 35px;
  width: auto;
}

.iconsContainer{
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.footerText{
  color: rgba(255, 255, 255, 0.87);
  font-size: 17px;
  font-weight: 630;
  margin: 0px;
}

.backButton{
  height: 25px;
  width: 25px;
}
.backButtonMargin{  /*gives larger hover space */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin-top: 30px;
  margin-left: 30px;
  transition: 0.5s;
}
.backButtonMargin:hover{
  transform: translateX(10px);
}

.backButtonContainer{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}

.link{
  height: 30px;
}

.galleryContainer{
  display: flex;
  justify-content:  space-evenly;
  width: 100%;
}

.galleryImage{
  display: block;
  background-color: gray;
  height: 200px;
  width: 300px;
  border-radius: 15px;
}

.happyHourText{
  font-size: 65px;
  color: rgba(255, 234, 0, 0.969)
}

.discountText{
  font-size: 60px;
  color: rgba(77, 202, 255, 0.969)
}

@media screen and (max-width: 900px) {
  .footerSection{
    width: 200px;
  }
  .footerContainer{
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .bodyContainer{
    display: flex;
    flex-wrap: wrap;
  }
  .hoursText{
    font-size: 20px;
    color: rgb(226, 226, 226)
  }
  .sideBar{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: fit-content;
    margin-bottom: 30px;
  }
  .sideBar > h3{
    font-size: 30px;
  }
  .navBarButton{
    margin: 10px;
  }
  .aboutImage{
    width: 90%;
    border-radius: 20px;
    filter: brightness(1.6);
    object-fit: cover;
    margin-bottom: 30px;
  }
  .aboutText{
    width: 90%;
  }
  .backButtonMargin{  /*gives larger hover space */
    margin-top: 0px;
    margin-left: 0px;
  }
}